.face-snap-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20 px auto;
    padding: 20px 30px;
    box-shadow: lightcoral 4px 4px 20px;

    img {
        width: 100%;
        border: 20px;
        border-color: aqua;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        font-weight: 300;
        font-size: 16px;
    }

    button {
        background-color: transparent;
        box-sizing: border-box;
        padding: 5 px 10px;
        border: none;
        box-shadow: rgb(27, 16, 70) 3px 3px 7px;
        margin-right: 20px;
        outline: none;
        font-size: 14px;
        font-weight: 500;

        &:active {
            transform: translate(1px, 1px);
            box-shadow: lightgray 0 0 5px;
        }
    }

}